/* Puhelimet */

@media (max-width: 767px)  {
/* Kaikki elementit käyttävät Impact-fonttia */
* {
    font-family: Impact;
  }
  
  /* Korkeuden ja leveyden asettaminen koko näytön kokoiseksi */
  html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  
  /* Kehon taustaväri ja piilota vaakasuuntainen vierityspalkki */
  body {
    background-color: #000000;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Hakemistopalkin tyyli */
  #hakemisto {
    background-color: #000000;
    width: 100%;
    height: 10vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Painikkeiden yleinen tyyli */
  .button {
    background-color: #000000;
    color: #fdfdfd;
    height: 10vh;
    width: 100%;
    border-color: rgb(0, 255, 170);
    font-size: small;
    text-decoration: none;
    text-align: center;
  }

  #header {
    background: #000000;
    width: 100%;
    height: 14vh;
    display: flex;
    color: rgb(255, 255, 255);
    position: relative;
  }
  
  
  /* Hakukentän tyyli */
  .hakukentta {
   position: absolute;
    padding-top: 1.5rem;
    padding-left: 4rem;
    width: 6vw;
  }
  
  /* Hakukentän tekstikentän tyyli */
  .hakukentta input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  /* Hakukentän painikkeen tyyli */
  .hakukentta button {
    padding: 2px 5px;
    background-color: aquamarine;
    color: #a5a5a5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Otsikon tyyli */
  #otsikko {
    color: rgb(0, 20, 55);
    text-transform: uppercase;
    -webkit-text-stroke: 0.8px aquamarine;
    padding-left: 5.4em;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-size: 2rem;
  }
  
  /* Yläosan tyyli */

  /* Alaosan tyyli */
  #footer {
    background-color: #ffffff;
    height: 5%;
    width: 100vh;
    font-size: 16px;
    margin-top: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    width: 100%;
  }
  
  /* Taustakuvan tyyli */
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/taustakuva.jpg');
    background-size: 100%;
    background-position: center;
    z-index: -1;
    overflow-x: hidden ;
  }
  
  /* Kontainerin tyyli */
  .container {
    background-color: rgba(13, 13, 13, 0.7);
    width: 100%;
    align-items: center;
    max-width: 800px;
    overflow-x: hidden;
  }

  /* Videokontainerin tyyli */
  .video-container {
    position: relative; 
    
  }
  
  /* Otsikkoid-taulukon tyyli */
  #otsikkoid {
    color: #ffffff;
    opacity: 1 !important;
    align-items: center;
  }
  
  /* TekstiId-taulukon tyyli */
  #tekstiId {
    color: #ffffff;
    opacity: 1 !important;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
  }
  
  /* Historiateksti-taulukon tyyli */
#historiateksti {
  color: #ffffff;
  font-family: 'Franklin Gothic Medium';
  font-size: small;
  margin-bottom: 100px;
  width: 80%;
  text-align: center;
  white-space: wrap;
  text-overflow: ellipsis;
}

th, td {
    color: white;
    font-family: 'Franklin Gothic Medium';
    border: 0.1px solid #ddd;
    padding: 0px;
    text-align: left;
  }
  
  /* Taulukon tyyli */
  table {
    width: 80%;
    border-collapse: collapse;
  }
  .tekstikuvat{
    width: 200px;
    height: auto;
  }
}


/*--------------------------------------------------------------*/



@media (max-width: 768px) and (max-width:1024px) {
  * {
    font-family: Impact;
    text-decoration: none;
  }

  .table {
      width: 100%; 
      overflow: auto;
      display: block;
  }
  th, td {
      padding: 0px; 
      text-align: center;
      font-size: x-small;
    }
    html, body {
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  
  body {
      background-color: #000000;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  
  #hakemisto {
      background-color: #000000;
      width: 100%;
      height: 10vh;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .button{
      background-color: #000000;
      color: #fdfdfd;
      height: 10vh;
      width: 100%;
      border-color: rgb(0, 255, 170);
      font-size:small;
      text-decoration: none;
      text-align: center ;
  }
  
  .hakukentta {
    width: 15vw;
    margin-top: 10px; /* Lisätään väliä yläpuolelle */
    display:flex;
    justify-content: center;
    align-items: center;
    width: 8.9vw;
  }

  /* Hakukentän tekstikentän tyyli */
  .hakukentta input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 8em;
  }

  /* Hakukentän painikkeen tyyli */
  .hakukentta button {
    background-color: aquamarine;
    color: #a5a5a5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

    #otsikko{
     color:rgb(0, 20, 55);
     text-transform: uppercase;
     -webkit-text-stroke: 0.8px aquamarine;
     padding-left: 5em;
     letter-spacing: 0.02em;
     text-decoration: none;
  }
  
  #header {
      background: #000000;
      width: 100%;
      height: 14vh;
      display: flex;
      color:rgb(255, 255, 255);
  }
  
  #footer {
      background-color:#ffffff;
      height: 5%;
      width: 100vh;
      font-size: 16px;
      margin-top: auto;
      display: flex;
      align-items: center;
      font-weight: bold;
      justify-content: center;
      width: 100%;
  }
  
  #background {
      position:fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('./images/taustakuva.jpg');
      background-size: cover;
      background-position: center;
      z-index: -1;
      overflow-x: hidden;
  }
  
  .container {
      background-color:rgba(12, 12, 12, 0.7);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      margin: auto;
      overflow-x: hidden;
      max-width: 800px;
  }
  
  
  #otsikkoid{
      color: #ffffff;
      opacity: 1 !important;
      width: 80%;
      height: 20%;
      display: flex;
      justify-content: center;
  }
  
  #tekstiId{
      color: #ffffff;
      opacity: 1 !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      margin: auto;
      position:sticky;
      width: 100%;
      font-family: 'Franklin Gothic Medium';
  }
  
  #historiateksti{
      color: #ffffff;
      font-family: 'Franklin Gothic Medium';
      font-size: small;
      text-align: center;
      margin: auto;
      padding-bottom: 30%;
      width:80%;
      white-space: wrap; 
      text-overflow: ellipsis; 
      
  }
  
    .video-container {
     
    }
  
    h2{
      color: white;
      font-family: 'Franklin Gothic Medium';
      padding: 0px;
      text-align: center;
    }
  }  



/*--------------------------------------------------------------*/


/* Tabletit */
  
    @media (min-width: 768px) and (max-width: 1279px)  {
      * {
        font-family: Impact;
        text-decoration: none;
      }
    
          
  h2{
    color: white;
    font-family: 'Franklin Gothic Medium';
    padding: 0px;
    text-align: center;
  }

  /* Korkeuden ja leveyden asettaminen koko näytön kokoiseksi */
  html {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  /* Kehon taustaväri ja piilota vaakasuuntainen vierityspalkki */
  body {
    background-color: #000000;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  /* Hakemistopalkin tyyli */
  #hakemisto {
    background-color: #000000;
    width: 100%;
    height: 10vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
  }

  /* Painikkeiden yleinen tyyli */
  .button {
    background-color: #000000;
    color: #fdfdfd;
    height: 10vh;
    width: 100%;
    border-color: rgb(0, 255, 170);
    text-decoration: none;
    text-align: center;
  }

  #header {
    background: #000000;
    width: 100%;
    height: 14vh;
    display: flex;
    position: relative;
    flex-direction:column;
  }
  
  
  /* Hakukentän tyyli */
  .hakukentta {
   position: absolute;
    padding-top: 3%;
    padding-left: 4rem;
  }

  /* Hakukentän tekstikentän tyyli */
  .hakukentta input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 8em;
  }

  /* Hakukentän painikkeen tyyli */
  .hakukentta button {
    background-color: aquamarine;
    color: #a5a5a5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }


  /* Otsikon tyyli */
  #otsikko {
    color: rgb(26, 39, 62);
    text-transform: uppercase;
    -webkit-text-stroke: 0.8px aquamarine;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /* Alaosan tyyli */
  #footer {
    background-color: #ffffff;
    height: 5%;
    width: 100vh;
    font-size: 16px;
    margin-top: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    width: 100%;
  }

  /* Taustakuvan tyyli */
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/taustakuva.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  /* Kontainerin tyyli */
  .container {
    background-color: rgba(15, 15, 15, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
    align-items: center;
    box-sizing: border-box;
  }

  /* Otsikkoid-taulukon tyyli */
  #otsikkoid {
    color: #ffffff;
    opacity: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  /* TekstiId-taulukon tyyli */
  #tekstiId {
    color: #ffffff;
    opacity: 1 !important;
    display: flex;
    margin: auto;
    text-align: center;
    width: 70%;
    font-family: 'Franklin Gothic Medium';
  }

  /* Historiateksti-taulukon tyyli */
  #historiateksti {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    text-align: center;
    margin: auto;
    width: 70%;
    margin-bottom: 30%;
  }

  /* Videokontainerin tyyli */
  .video-container {
    margin-top: 20px; /* Lisää tilaa yläpuolelle */
    margin-right: 1px;
    overflow-x: hidden;
  }

  th,
  td {
    color: white;
    font-family: 'Franklin Gothic Medium';
    border: 0.1px solid #ddd;
    padding: 0px;
    text-align: left;
  }

  /* Taulukon tyyli */
  table {
    width: 80%;
    height: 70%;
    border-collapse: collapse;
  }
}
       

/*--------------------------------------------------------------*/

    
    
/* Kannettavat tietokoneet */
@media (min-width: 1280px) and (max-width: 1919px) {
 
  * {
    font-family: Impact;
    text-decoration: none;
  }

  /* Korkeuden ja leveyden asettaminen koko näytön kokoiseksi */
  html,
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  /* Kehon taustaväri ja piilota vaakasuuntainen vierityspalkki */
  body {
    background-color: #000000;
    overflow-x: hidden;
  }

  /* Hakemistopalkin tyyli */
  #hakemisto {
    background-color: #000000;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Painikkeiden yleinen tyyli */
  .button {
    background-color: #000000;
    color: #fdfdfd;
    height: 10vh;
    width: 100%;
    border-color: rgb(0, 255, 170);
    font-size: x-large;
    text-align: center;
  }

  #header {
    background: #000000;
    width: 100%;
    height: 14vh;
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    flex-direction:column;
  }
  
  
  /* Hakukentän tyyli */
  .hakukentta {
   position: absolute;
    padding-top: 3%;
    padding-left: 4rem;
    
  }
  
  /* Hakukentän tekstikentän tyyli */
  .hakukentta input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 70%;
    height: 1.5em;

  }
  
  /* Hakukentän painikkeen tyyli */
  .hakukentta button {
    padding: 2px 5px;
    background-color: aquamarine;
    color: #a5a5a5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Otsikon tyyli */
  #otsikko {
    color: rgb(0, 20, 55);
    text-transform: uppercase;
    -webkit-text-stroke: 0.8px aquamarine;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-size: 2em; 
    display: flex;
    align-items: center;
    justify-content: center;
  }



  /* Alaosan tyyli */
  #footer {
    background-color: #ffffff;
    height: 5%;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    width: 100%;
  }

  /* Taustakuvan tyyli */
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/taustakuva.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  /* Kontainerin tyyli */
  .container {
    background-color: rgba(14, 14, 14, 0.7);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
    max-width: 8;
    box-sizing: border-box;
    align-items: center;
    
  }

  /* Otsikkoid-taulukon tyyli */
  #otsikkoid {
    color: #ffffff;
    opacity: 1 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-container {
    margin-right: 1px;
    overflow-x: hidden;
  }

  /* TekstiId-taulukon tyyli */
  #tekstiId {
    color: #ffffff;
    opacity: 1 !important;
    text-align: center;
    width: 50%;
    font-family: 'Franklin Gothic Medium';
  }

  /* Historiateksti-taulukon tyyli */
  #historiateksti {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
    text-align: center;
    padding-bottom: 300px;
    margin: auto;
    position: sticky;
    width: 60%;
    white-space: wrap;
    text-overflow: ellipsis;
    letter-spacing: 1px;
  }

  th,
  td {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    border: 0.1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  h2{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    padding: 0px;
    text-align: left;
  }

  /* Taulukon tyyli */
  table {
    width: 70%;
    border-collapse: collapse;
  }
}


/*--------------------------------------------------------------*/

/* Tietokoneen näytöt */
@media (min-width: 1920px) and (max-width: 3839px) {
}